<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mykotlinnotepad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notebook"
        android:label="Hi Notes"
        android:roundIcon="@drawable/notebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyKotlinNotepad">
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ForgotPassActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".EditNotesActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".AddNotesActivity" />
        <activity android:name=".DetailNotesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarmmanager.AlarmReceivers"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name=".alarmmanager.AlarmService"-->
<!--            android:enabled="true" />-->
    </application>

</manifest>